
h1 {	
	font-family: Futura, Helvetica, Arial, sans-serif;
	color: #BDC3C7; 
  font-size: 50px;
  text-align: center;}

h2 {
	font-family: Futura, Helvetica, Arial, sans-serif;
	color: red; 
  font-size: 40px;
  text-align: center;
}

p {
	font-family: Futura, Helvetica, Arial, sans-serif;
	color: black; 
  font-size: 30px;
  text-align: center;
}

.image {
	text-align:center;
}

.main {
	
}